/* styles.css */

body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.px {
  font-size: 16px;
}

.em {
  font-size: 2em; /* 2 times the parent font size */
}

.rem {
  font-size: 1.5rem; /* 1.5 times the root font size */
}

.percent {
  font-size: 150%; /* 1.5 times the parent font size */
}

.pt {
  font-size: 12pt; /* 12 points */
}

.vw {
  font-size: 5vw; /* 5% of the viewport width */
}

.vh {
  font-size: 5vh; /* 5% of the viewport height */
}
